html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.container {
    min-height: 70%;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.verticalAllign {
    margin-top: 80px;
    width: 100%;
}
.fullWidth {
    width: 100%;
}
.navbar {
    background-color: #00c8f8;
    height: 15%;
    margin: 0;
}
.aquaText {
    color: #00c8f8;
}
.homepageButton {
    background-color: #a0c5e8;
    color: #00c8f8;
    border-color: #00c8f8;
    width: 100%;
}
.homepageButton:hover {
    color: #00c8f8;
}
.positiveTweetsButton {
    background-color: rgba(75,255,114,0.3);
    color: rgba(75,255,114,1);
    border-color: rgba(75,255,114,1);
    width: 100%;
}
.positiveTweetsButton:hover {
    color: rgba(75,255,114,1);
}
.positiveTweetsButton:focus {
    color: rgba(75,255,114,1);
    outline: none;
}
.positiveTweetsButton:active {
    outline: none !important;
}
.positiveTweets {
    color: rgba(75,255,114,1);
}
.neutralTweetsButton {
    background-color: rgba(0,126,255,0.3);
    color: rgba(0,126,255,1);
    border-color: rgba(0,126,255,1);
    width: 100%;
}
.neutralTweetsButton:hover {
    color: rgba(0,126,255,1);
}
.neutralTweetsButton:focus {
    color: rgba(0,126,255,1);
    outline: none;
}
.neutralTweetsButton:active {
    outline: none !important;
}
.neutralTweets {
    color: rgba(0,126,255,1);
}
.negativeTweetsButton {
    background-color: rgba(255,0,0,0.3);
    color: rgba(255,0,0,1);
    border-color: rgba(255,0,0,1);
    width: 100%;
}
.negativeTweetsButton:hover {
    color: rgba(255,0,0,1);
}
.negativeTweetsButton:focus {
    color: rgba(255,0,0,1);
    outline: none;
}
.negativeTweetsButton:active {
    outline: none !important;
}
.negativeTweets {
    color: rgba(255,0,0,1);
}
::placeholder {
    font-family: 'Lato', sans-serif;
}
.input {
    border-color: #00c8f8;
}
.canvas {
    max-height: 320px;
    max-width: 630px;
    margin: auto;
}